{
  "name": "@ley-labs/{{ projectName }}-api",
  "version": "0.0.0",
  "type": "module",
  "exports": {
    ".": {
      "development": "./src/index.ts",
      "default": "./src/index.ts"
    }
  },
  "scripts": {},
  "dependencies": {
    "hono": "catalog:"
  },
  "devDependencies": {
    "@cloudflare/vite-plugin": "catalog:",
    "@cloudflare/vitest-pool-workers": "catalog:",
    "vite": "catalog:",
    "vitest": "catalog:",
    "wrangler": "catalog:"
  }
}
