{
  "name": "@ley-labs/{{ projectName }}-e2e",
  "version": "0.0.0",
  "private": true,
  "type": "module",
  "devDependencies": {
    "@biomejs/biome": "catalog:",
    "@playwright/test": "catalog:",
    "@types/node": "catalog:",
    "typescript": "catalog:"
  }
}
