{
  "name": "@ley-labs/{{ projectName }}-shared",
  "version": "0.0.0",
  "type": "module",
  "files": [
    "dist"
  ],
  "exports": {
    ".": "./src/index.ts"
  },
  "scripts": {},
  "dependencies": {},
  "devDependencies": {
    "@biomejs/biome": "catalog:",
    "tsup": "catalog:",
    "typescript": "catalog:",
    "vitest": "catalog:"
  }
}
